body {
    background: linear-gradient(135deg, #72BCCF, #4fa3b5);
    font-family: Arial;
    display: flex;
    justify-content: center;
}

.page-container {
    background: white;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.main-title {
    color: #d28c5a;
}

.main-nav button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #4fa3b5;
    cursor: pointer;
}

.main-nav button:hover {
    background: #d28c5a;
    color: rgba(0, 0, 0, 0.87);
}

.header-img, .img {
    width: 100%;
    border-radius: 15px;
}

.card {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.two {
    display: flex;
    gap: 10px;
}

.steps {
    display: flex;
    justify-content: space-between;
}

.steps div {
    background: #72BCCF;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.producto {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
}

.producto img {
    width: 100%;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #4fa3b5;
    color: white;
}